.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

html {
    min-height: 100%;
}

body {
    background-image: url("images/bg-desktop.png");
    background-color: hsl(229, 57%, 11%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: bottom; 
    font-family: Raleway;
    color: hsl(243, 100%, 93%);
    font-size: 1vw;
}

#alert {
    color: hsl(229, 57%, 11%);
    font-size: 3vw;
    padding-right: 0.5vw;
}

#menu, #space {
    background-color: hsl(228, 56%, 26%);
    display: inline-block;
}

#space {
    width: 39vw;
    max-height: 7.5vw;
    position: absolute;
    bottom: 0;
    margin-left: 1.5vw;
    border-radius: 0.5vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 2.2vw;
    padding-bottom: 2.2vw;
}

#logo {
    height: 2.8vw;
}

#document, #folder, #upload {
    width: 1.4vw;
    background-color: hsl(229, 57%, 11%);    
    padding: 0.8vw;
    margin-top: 1.5vw;
    margin-right: 0.9vw;
    border-radius: 0.5vw;
}

#folder {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#upload {
    padding-top: 1.1vw;
    padding-bottom: 1.1vw;
}

#menu {
    height:8vw;
    width:19vw;
    border-radius:0.5vw;
    border-top-right-radius: 7vw;
    padding: 2vw;
    padding-left: 2.2vw;
}

#gb {
    position: absolute;
    top: 45%;
}

#bubble {
    display:inline;
    content: '';
	position: absolute;
	bottom: 55%;
	left: 100.5%;
	border: 2vw solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-right: 0;
	margin-left: -1vw;
    z-index: 2;
}

#left {
    background-color: white;
    color: hsl(229, 7%, 55%);
    float: right;
    padding: 1vw;
    padding-left: 1.5vw;
    padding-right: 5.5vw;
    border-radius: 1vw;
    position: absolute;
    top: -10%;
    right: -2%;
    z-index: 2;
}

#all {
    width: 39vw;
    height: 1vw;
    background-color: hsl(229, 57%, 11%);
    margin-top: 0.9vw;
    margin-bottom: 0.5vw;
    border-radius: 1vw;
    padding-top: 0.2vw;
    padding-left: 0.2vw;
    padding-bottom: 0.05vw;
}

#filled {
    width: 0%;
    height: 0.8vw;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 1vw;
    padding-top: 0.1vw;
    padding-right: 0.1vw; 
    animation-name: load;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes load {
    from {width: 0%;}
    to {width: 81.5%}
}

#dot{
    height: 0.7vw;
    width: 0.7vw;
    border-radius: 50%;
    background-color: white;
    float: right;
}

#end {
    float: right;
}

#content {
    width:65vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 375px) {
    body {
        background-image: url("images/bg-mobile.png");
        background-size: 100% 100%;
        font-size: 3.7vw;
    }

    #bubble {
        display: none;
    }

    #space, #menu {
        display: block;
    }

    #menu {
        height: 32vw;
        width: 60vw;
        padding: 10vw;
        border-radius: 4vw;
        border-top-right-radius: 27vw;

    }

    #space {
        height: 40vw;
        width: 73vw;
        border-radius: 4vw;
        padding-top: 12vw;
        padding-bottom: 25vw;
    }

    #used {
        padding-left: 4vw;
        margin-bottom: 20vw;
    }

    #content {
        height: 100vw;
        width: 80vw;
    }

    #logo {
        width: 40vw;
        height: auto;
        margin-top: 1.5vw;
    }
    
    #document, #folder, #upload {
        width: 6vw;
        background-color: hsl(229, 57%, 11%);    
        padding: 4vw;
        margin-top: 7vw;
        margin-right: 3vw;
        border-radius: 4vw;
    }

    #document {
        padding-top: 3vw;
        padding-bottom: 3vw;
    }

    #start {
        padding-left: 4vw;
    }

    #end {
        padding-right: 4vw;
    }

    #folder {
        padding-top: 4vw;
        padding-bottom: 4vw;
    }
    
    #upload {
        padding-top: 4.4vw;
        padding-bottom: 4.4vw;
    }

    #all {
        width: 65vw;
        height: 4vw;
        margin-top: 4vw;
        margin-bottom: 3vw;
        margin-left: 3vw;
        margin-right: 3vw;
        border-radius: 4vw;
        padding-top: 0.5vw;
        padding-left: 0.2vw;
        padding-bottom: 0.05vw;
    }
    
    #filled {
        width: 81.5%;
        height: 3.8vw;
        border-radius: 4vw;
        padding-top: 0.1vw;
        padding-right: 0.3vw; 
    }
    
    #dot{
        height: 3.7vw;
        width: 3.7vw;
        border-radius: 50%;
        float: right;
    }

    #left {
        padding: 3.5vw;
        padding-left: 7vw;
        padding-right: 20vw;
        border-radius: 4vw;
        position: absolute;
        top: 90%;
        right: 22%;
    }

    #alert {
        font-size: 10vw;
        padding-right: 3vw;
    }
  }